*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: 0 auto;
    padding: 1.2em;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

ul{
    min-width: 450px;
    width: 10%;
    list-style: none;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}
.header{
    background-color: aliceblue;
    width: 95%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img-tag{
    width: 80%;
    text-align: center;

}
img{
        padding: 5px;
}.header-bar {
    background-color: orange;
}